*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    background-color: rgb(194, 191, 191);
    display: block;
}

h1{
    text-align: center;
    padding: 1rem;
    font-size: 3rem;
}

header p{
    margin: 1rem;
    background-color: rgb(167, 167, 167);
    font-size: 1.3rem;
}

main{
    margin: 1rem;
}

.categorias h2{
    color: red;
    background-color: gray;
    margin-bottom: 1rem;
    font-size: 2rem;
}

li{
    list-style:none;
    font-size: 1.3rem;
}

ul{
    background-color: rgb(167, 167, 167);
    margin-bottom: 1rem;
}

.uno span,.cuatro span{
    color: blue;
    text-decoration: underline;
}

.dos span,.tres span,.cursos span{
    color:green;
    text-decoration: none;
}

.categorias h3{
    color: purple;
    background-color: gray;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.cinco p{
    font-size: 1.3rem;
    background-color: rgb(167, 167, 167);
    margin-bottom: 1rem;
}

/* tamaño: 15+26+13  =54 */