*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    background-color: aquamarine;
    padding-left: 10rem;
    padding-right: 10rem;
}

p,ul{
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    display: block;
    text-align: justify;
    margin-top: 1rem;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 5rem;
    display: block;
    text-align: center;
}

ul{
    display: block;
    text-align: center;
        
}

li{
    display: inline-block;
    margin-left: 2rem;
    margin-right: 2rem;
    text-decoration: underline;
    color: #0DA5FF;
}

.uno{
    margin-top: 3rem;
}

.divisiones{
    margin-bottom: 2rem;
    border: 1.5rem solid orangered ;
    padding: 1.5rem;
}

.dos,.cuatro{
    border: 1.5rem solid orange;
    padding-bottom: 3rem;
}

.imagen{
    height: 23rem;
    width: 23rem;
    background-color: orange;
    display: inline-block;
}

img{
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    height: 20rem;
    width: 20rem;
    display: inline-block;
    align-items: center;
    border: 1.5rem solid orangered;
}

.texto{
    margin-top: 1rem;;
    display: inline-block;
    width: 76rem;
    position: absolute;
    margin-left: 1rem;
}

h2{
    font-size: 3rem;
}

.textodos{
    margin-top: 1rem;;
    display: inline-block;
    width: 76rem;
    margin-right: 1rem;
    
}

.imagendos{
    display: inline-block;
    position: absolute;
    height: 23rem;
    width: 23rem;
    background-color: orangered;
}

.imagendos img{
    border-color: orange;
}